* {
	margin: 0;
	padding: 0;
}
/*************************************
Header
***********************************/
.lang>li {
	float:left;
	list-style-type: none;
}
.lang>li>a {
	font-size:17px;
	text-decoration:none;
	
}
.container {
	border: 1px solid rgb(133,133,133)
}
.container::after {
	content:'.';
	display: block;
	clear: both;
	height:0px;
}
.first>h1 {
	clear:both;
	font-size:50px;
}
.first {
	z-index:1;
	height:140px;
}
.first>h2 {
	 font-size:18px;
}
.navbar {

	height:70px;
}
.navig::after {
	content:'.';
	display: block;
	clear: both;
	height:0px;
}
.second {
	height:140px;
}
.second>img {
	height:100%;
	width: 100%;	
}
.third {
	height:140px;
	.social {
		height:50%;
		li {
		list-style-type: none;
		float:right;
		margin-right:10px;
		}
	}
	.info {
		height:50%;
	}
.upper::after {
	content:'.';
	display: block;
	clear: both;
	height:0px;
}	

	
}
