* {
	margin: 0px;
	padding: 0px;
}
/*******************************
Header
*******************************/
.menu {
	border:1px solid #222;
	width: 100%;
}
.div1 {
	height: 140px;
	h1 {
		margin: 0;
	}
	h3 {
		margin: 0;
	}
	ul {
		li {
			list-style-type:none;
			float:left;
		}
	}
}
.div1 {
	ul:after {
		content:".";
		height:0;
		display: block;
		clear: both;
	}
}
.div2 {
	height: 140px;
	img {
		width: 100%;
	}
}
.div3 {
	height: 140px;
	ul {
		li {
			list-style-type: none;
			float: right;
			margin:20px 10px 30px ;
		}
	}
	p {
		a {
			text-transform:  uppercase;	
		}
		
		clear:both;
		vertical-align: middle;
		text-align: center;
	}
}
.navbar {
	margin-bottom:0;
}
.navbar-collapse {
	.navbar-nav {
		width: 100%;
		li {
			width: 20%;
			border:1px solid #e7e7e7;
			display:inline-block;
		}
	}
}
@media screen and (max-width: 991px) {
	.div3 {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.div2 {
		display: none;
	}
	.navbar-collapse {
	.navbar-nav {
		width: 100%;
		li {
			width: 20%;
			height:40px;
			border:1px solid #e7e7e7;
			
			/*display:inline-block;*/
			float: left;
			margin: 0;
			a {
				padding-top:0;
				padding-bottom: 0;
				vertical-align: middle;
			}
		}
	}
}
}
/********************************************
Section
************************************************/
.section {
	border:1px solid #333;
	/*padding: 10px;*/
}
.actual {
	border:1px solid #da6b46;
	/*margin:20px;*/
}
.thumbnail {
	border-top:transparent;
	/*margin: 2px;*/
	.description {
		border-left: 1px dashed #333;
		p.col-xs-2 {
			text-align: left;
		}
		p.col-xs-8 {
			text-align: right;
		}
		.btn {
			background: #95C758;
		}
	}
}
.normal {
	/*margin: 10px;*/
	border:1px solid #333;
	border-top:transparent;
}
.thumbnail:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	
}
.progress-bar {
	background-color: #373632;	
}