* {
  padding: 0;
  margin: 0;
  font-family: 'Arial',sans-serif; }

.row {
  max-width: 100%;
  margin: 0; }

body {
  background: url("../img/background/back1.png") 0 20px, url("../img/background/back2.png") 150px 500px, url("../img/background/back3.png") 80px 200px, url("../img/background/back4.png") 200px 117px, url("../img/background/back5.png"), url("../img/background/back6.png") 117px 60px, url("../img/background/back7.png"), url("../img/background/back8.png"); }

.container {
  max-width: 960px;
  padding: 0; }

/************************************************************
Header
************************************************************/
header {
  background: rgba(0, 0, 0, 0.7) url("../img/header/backgroundx.png") no-repeat;
  background-position: 0px 19px;
  height: 275px;
  width: 100%; }
  header .menu {
    background: url("../img/header/background2.png") no-repeat, url("../img/header/background.png") no-repeat;
    height: 255px;
    margin-top: 20px;
    padding: 0; }

.menu h3 {
  margin: 0px;
  float: right;
  margin-right: 7px;
  color: #FFF; }

.lang {
  display: inline-block;
  width: 190px;
  margin: 2px; }
  .lang li {
    width: 58px;
    height: 33px;
    list-style-type: none;
    background: #FFF;
    border: 1px solid #000;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .lang li a {
      font-size: 21px;
      text-decoration: none;
      color: #000; }

.socials {
  float: right;
  margin-bottom: 10px; }
  .socials li {
    padding: 0; }

.right {
  width: 311px;
  float: right; }

.news {
  clear: both;
  /*height: 150px;*/      /*“”“ «¿ ŒÃ≈Õ“”¬¿À¿ Ã¿–»Õ¿ ƒÀﬂ NEWS*/       
  margin-top: 5px;
  margin-bottom: 10px; }
  .news li {
    height: 40px;
    margin-bottom: 15px;
    list-style-type: none;
    border: 1px solid #000;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .news li a {
      color: #FFF; }
  .news li:first-child {
    width: 175px;
    margin-left: 135px; }
  .news li:nth-child(2) {
    width: 175px;
    margin-left: 135px; }
  .news li:last-child {
    width: 310px; }

.navbar {
  clear: both;
  min-height: 45px;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none; }
  .navbar .container-fluid {
    padding: 0; }
    .navbar .container-fluid .nav {
      height: 100%;
      width: 100%; }

.nav li {
  z-index: 10;
  background: #FFF;
  color: #000;
  border: 1px solid black;
  text-align: center;
  height: 45px;
  padding: 0;
  width: 20%;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .nav li a {
    padding: 10px 17px;
    font-size: 20px;
    color: #000;
    height: 100%;
    /*line-height: 45px;*/ }

#navi {
  max-height: 100% !important; }

/**************************************************
Section
************************************************/
.actual {
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  /*height: 550px;*/
  padding: 19px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .actual h2 {
    margin: 0;
    color: #ffe232;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px; }

.thumbnail {
  /*margin-right: 30px;*/
  padding: 20px 44px 25px;
  width: 445px;                     
  /*height: 465px;*/
  background: #fff;
  margin-bottom: 0;
  min-width: 430px; }
  .thumbnail img {
    margin-bottom: 20px;
    max-height: 147px; }
  .thumbnail h3 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold; }
  .thumbnail p {
    font-size: 12px;
    margin-bottom: 15px; }
  .thumbnail a {
    text-decoration: none;
    color: #000; }

.polosa {
  width: 150px;
  float: left; }
  .polosa .progress {
    width: 150px;
    height: 16px;
    margin-bottom: 5px; }
    .polosa .progress .progress-bar {
      background: #242624; }

.summa {
  margin-top: -8px;
  padding: 0;
  width: 165px;
  float: right;
  margin-bottom: 10px; }
  .summa span {
    font-size: 22px;
    font-weight: bold; }

.btn {
  width: 250px;                    
  height: 45px;
  line-height: 45px;
  padding: 0;
  color: #FFF !important;
  margin-left: 45px;
  font-size: 22px;
  font-weight: bold;
  background: #51D146;
  border: 1px solid #E1E1E1; }

.btn:hover, .btn:active, .btn:visited {
  background: #4BC340; }

.row .thumbnail:nth-child(odd) {
  float: right; }

.normal {
  padding: 19px; }

.completed {
  position: relative; }
  .completed .btn {
    background: #464646; }
  .completed .btn:hover, .completed .btn:active, .completed .btn:visited {
    background: #393939; }

.completed:after {
  content: ' ';
  background: url("../img/section/project/completed.png") no-repeat;
  display: block;
  position: absolute;
  z-index: 5;
  top: 85px;
  left: 5px;
  width: 100%;
  height: 245px; }

/*********************************************
Footer
***********************************************/
footer {
  background: rgba(0, 0, 0, 0.7); }

.footer {
  padding: 0;
  padding-bottom: 45px; }
  .footer p {
    line-height: 1.5;
    color: #F6DA32;
    font-size: 12px; }
  .footer ul li {
    list-style-type: none;
    line-height: 1.4; }
    .footer ul li a {
      font-size: 12px;
      color: #f6da32;
      text-decoration: none; }
  .footer h3 {
    color: #FFF;
    font-weight: bold;
    font-size: 20px; }

/*****************************************************
Project
****************************************************/
.upper {
  background: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 19px; }
  .upper .image img {
    max-width: 100%;
    max-height: 100%; }

.upper .h {
  display: block;
  width: 100%;
  height: 70px;
  margin: 10px 0;
  padding: 20px 100px;
  /*background: #666666;*/ }
  .upper .h h2 {
    margin: 0;
    padding: 0;
    color: #FFF; }

.upper small {
  color: #fff; }

.upper h3 {
  color: #fff;
  font-size: 36px;
  margin-top: 70px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E0E0; }
.upper h4 {
  color: #fff;
  margin: 0;
  margin-top: 30px; }
.upper .progress {
  margin-top: 25px;
  margin-bottom: 25px; }
  .upper .progress .progress-bar {
    background: #242624; }
.upper .btn {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #51D146;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin: 0; }
.upper .btn:hover, .upper .btn:active, .upper .btn:visited {
  background: #4BC340; }
.upper .share {
  background: #999;
  width: 100%;
  height: 50px;
  margin-top: 20px; }

/**********************************************************
MEDIA
**********************************************************/
@media screen and (max-width: 991px) {
  .thumbnail, .thumbnail:nth-child(odd) {
    float: none !important;
    margin: auto;
    margin-bottom: 15px; }

  .nav li {
    width: 20%; }
    .nav li a {
      font-size: 15px; }

  .navbar-toggle {
    background: #FFF; } }
@media screen and (max-width: 767px) {
  .menu {
    background: none !important; }

  .nav li {
    margin-left: 15px;
    width: 100%; }

  header {
    background: none; } }
@media screen and (max-width: 521px) {
  .right {
    margin-top: -35px; } }
.actual-margin-botoom{
margin-bottom: 20px;
}


.color-white{
color:#fff;
}

.embed-responsive iframe{
height:310px !important;
}

.embed-responsive.embed-responsive-16by9{
padding-bottom:36.35% !important;
}

/*NEWS*/
.news p, .news h4, .news .date, .news h3{
    color: #fff;
}
section .wrapper{
    background: rgba(0,0,0,0.7);
    margin-top: 19px;
    margin-bottom: 19px;
    border-radius: 5px;
}
.sideproject .project .thumbnail{
    margin: 20px 0 20px 0;
    height: 350px;
    padding: 4px;
    min-width: 0;
    max-width: 250px;
}

.sideproject .project .thumbnail .description p.col-xs-2 {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
}
.sideproject .project .thumbnail .description p.col-xs-8 {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}
.sideproject .btn{
    margin-left: 0;
    max-width: 129.5px;
}
footer .footer{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 990px){
    .sideproject .project .thumbnail {
        min-width: 650px;
    }
}






/*# sourceMappingURL=main.css.map */
