/* different needed */
.loggedin{
	margin: 15px 0;
}
.navigation img{
	/* width: 10%;
	height: auto; */
}
.navigation .g-menu-top{
	/* float: left;
	font-family: 'PF Agora Slab Pro Medium';
	font-size: 34px;
	height: 34px;
	line-height: 34px;
	margin-top: 12px; */
}
.right{
	text-align: right;
}
.add{
	margin: 15px 0;
}
.add a:first-child{
	color: #FF4B4B;
}
.add a i, .files a i{
	margin-right: 5px;
}
.add a + a{
	margin-left: 20px;
}
table th{
	white-space: nowrap;
}
table > tbody > tr.wip{
	background-color: #8BF171;
}
table > tbody > tr.ready{
	background-color: #C7C7C7;
}
table > tbody > tr:hover > td{
	background-color: rgba(0,0,255,0.1);
}
.menu i{
	margin-right: 10px;
}
td.wip{
	color: green;
}
td.ended{
	color: grey;
}
tr.foot{
	background: #EEE;
}
tfoot tr{
	border-top: 10px solid #fff;
	background: #EEE;
}
.glyphicon-ok{
	color: green;
}
.num input{
	margin: 0 5px;
}
.num input[type="text"]{
	width: 60px;
	display: inline;
}
.period input[type="date"]{
	width: 160px;
	display: inline;
}
.period{
	margin: 15px 0;
}
.menu .list-group{
	margin-top: 15px;
}
.paginate {
	text-align: center;
}
.paginate, .paginate .pagination{
	margin-top: 0;
}

/* login-form */

html, body, .container{
	height: 100%;
}
.container{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.login-form{
	width: 25em;
	margin: auto;
	border: 1px solid #e5e5e5;
	border-radius: 4px 4px 0 0;
	position: relative;
}
.login-form fieldset{
	margin: auto;
	padding: 50px 15px 15px 15px;
	overflow: hidden;
}
.login-form legend{
	background: #FFECFF;
	padding: 10px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}
.login-form input{
	width: 100%;
}
.login-form label, .login-form a{
	display: block;
	margin-top: 15px;
}
.login-form a{
	margin-bottom: 15px;
}


/* tab specific */
#control table > tbody > tr.wip{
	background: #FFFF62;
}

/* form specific */
.new-issue label{
	margin-top: 15px;
}
.details p{
	color: #9E9292;
	margin-top: 5px;
	font-size: 13px;
}
.files{
	margin-top: 15px;
}
.inline{
	display: inline-block;
}

/* some other things */

#people a i{
	float: right;
}