body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:0px;
  width:1280px;
  height:207px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:207px;
}
#u2 {
  position:absolute;
  left:2px;
  top:96px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:139px;
  width:1280px;
  height:68px;
}
#u3_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1286px;
  height:74px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1285px;
  height:73px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:183px;
  top:0px;
  width:183px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:366px;
  top:0px;
  width:183px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
}
#u10 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:549px;
  top:0px;
  width:183px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:732px;
  top:0px;
  width:183px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:915px;
  top:0px;
  width:183px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1098px;
  top:0px;
  width:182px;
  height:68px;
  font-size:20px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:68px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:178px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:732px;
  top:68px;
  width:183px;
  height:184px;
  visibility:hidden;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:189px;
  height:190px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:189px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
  font-size:20px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:179px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:52px;
  width:183px;
  height:28px;
  font-size:20px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:80px;
  width:183px;
  height:52px;
  font-size:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:132px;
  width:183px;
  height:52px;
  font-size:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:179px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:391px;
  top:2px;
  width:580px;
  height:130px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:130px;
}
#u30 {
  position:absolute;
  left:2px;
  top:57px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1218px;
  top:21px;
  width:32px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1176px;
  top:21px;
  width:32px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1134px;
  top:21px;
  width:32px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1092px;
  top:21px;
  width:32px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:23px;
  top:38px;
  width:318px;
  height:57px;
  font-size:48px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:27px;
  top:94px;
  width:304px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:27px;
  top:21px;
  width:108px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1017px;
  top:23px;
  width:44px;
  height:26px;
  font-size:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:31px;
  top:460px;
  width:426px;
  height:33px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:33px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:31px;
  top:512px;
  width:539px;
  height:120px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:120px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:31px;
  top:717px;
  width:410px;
  height:33px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:33px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:31px;
  top:790px;
  width:499px;
  height:360px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:360px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:31px;
  top:760px;
  width:200px;
  height:24px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:610px;
  top:790px;
  width:499px;
  height:336px;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:336px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:610px;
  top:760px;
  width:200px;
  height:24px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:31px;
  top:227px;
  width:395px;
  height:33px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:33px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:31px;
  top:281px;
  width:512px;
  height:72px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:72px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:31px;
  top:632px;
  width:509px;
  height:42px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:42px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:31px;
  top:363px;
  width:509px;
  height:42px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:42px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:31px;
  top:1160px;
  width:509px;
  height:42px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:42px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:610px;
  top:1160px;
  width:509px;
  height:42px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:42px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:0px;
  top:1250px;
  width:1280px;
  height:300px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:300px;
}
#u71 {
  position:absolute;
  left:2px;
  top:142px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:40px;
  top:1264px;
  width:101px;
  height:26px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:22px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:40px;
  top:1303px;
  width:70px;
  height:22px;
  font-size:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:40px;
  top:1335px;
  width:68px;
  height:22px;
  font-size:18px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:40px;
  top:1367px;
  width:64px;
  height:22px;
  font-size:18px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:342px;
  top:1264px;
  width:160px;
  height:26px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:22px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:342px;
  top:1300px;
  width:148px;
  height:16px;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:690px;
  top:1264px;
  width:98px;
  height:26px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:690px;
  top:1300px;
  width:153px;
  height:64px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:64px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:999px;
  top:1264px;
  width:167px;
  height:26px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:22px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:26px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:999px;
  top:1300px;
  width:221px;
  height:220px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:220px;
}
#u91 {
  position:absolute;
  left:2px;
  top:102px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:690px;
  top:1409px;
  width:50px;
  height:50px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:750px;
  top:1426px;
  width:101px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:690px;
  top:1469px;
  width:50px;
  height:50px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:750px;
  top:1486px;
  width:81px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
