/* FORUM */
#container_full {
	margin-top: 20px;
    width:960px;
    min-height:500px;
}

.forum-table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;	
	font-family: Arial Unicode MS, sans-serif;
	font-size:14px;
}

.forum-table th {
	font-weight:normal;
	border-bottom:1px solid #000000;
	padding-top: 14px;
	padding-bottom: 10px;
}

.forum-table td {
	padding-top: 14px;
	line-height: 178%;
}

.forum-table tr:last-child td {
	padding-bottom:10px;
}

.topic-count {
	width:50px;
}

.comment-count {
	width:120px;
}

.last-comment {
	width:130px;
}

.forum-control {
	width:210px;
}

.forum-title {
	text-transform: uppercase;
}

.page-title {
	font-family: Arial Unicode MS, sans-serif;
	font-size:14px;
}

.page-title a {
	color:#b4b4b4;
}

/* FORUM CONTROL*/
.forum-toolbox {
	width:210px;
	color:#b4b4b4;
}

.forum-toolbox-icons  {
	float:right;
}

.forum-toolbox-icons a  {
	display:inline-block;
}

.forum-toolbox-icons .forum-icon {
	height:10px;
	width:10px;
}

.forum-toolbox-icons .forum-icon.delete {
	background:url('../img/icon/idelete.png') no-repeat;
}

.forum-toolbox-icons .forum-icon.up {
	background:url('../img/icon/iup.png') no-repeat;
}
.forum-toolbox-icons .forum-icon.down {
	background:url('../img/icon/idown.png') no-repeat;
}
.forum-toolbox-icons .forum-icon.topic-insert-admin {
	background:url('../img/icon/topic-insert-admin.png') no-repeat;
}
.forum-toolbox-icons .forum-icon.topic-insert-auto {
	background:url('../img/icon/topic-insert-auto.png') no-repeat;
}
.forum-toolbox-icons .forum-icon.topic-insert-manual {
	background:url('../img/icon/topic-insert-manual.png') no-repeat;
}
.forum-toolbox-icons .forum-icon.topic-insert-member {
	background:url('../img/icon/topic-insert-member.png') no-repeat;
}

ul.forum-toolbox-fields {
	list-style:none;
	margin:0;
	padding:0;
	font-size:11px;
	float:left;
	text-align:left;
	line-height:170%;
}
