.select::after,
.insert::after,
.update::after,
.delete::after,
.visibility::after{
	display: inline-block;
	font-weight: bolder;
	float: left;
	font-size: 20px;
	padding: 0 3px;
}

.yes::after,
.owner::after{
	color:green;
}
.no::after{
	color:red;
}


.select::after           { content: 'S'; }
.insert::after           { content: 'I'; }
.update::after           { content: 'U'; }
.delete::after           { content: 'D'; }
.visibility::after       { content: 'V'; }
.owner.update::after     { content: 'Uo'; }
.owner.delete::after     { content: 'Do'; }
.owner.visibility::after { content: 'Vo'; }
