input.input-overlay {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input.input-overlay:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.input-overlay {
  /* bootstrap reset*/

  width: 20px;
  min-height: 10px;
}
.checkmark {
  float: right;
  background-image: url(../img/system/toolbar.png);
  cursor: pointer;
  margin-left: 1px;
  width: 13px;
  height: 12px;
  opacity: 0.7;
}
.checkmark.yes:hover,
.checkmark.no:hover {
  opacity: 1;
}
.checkmark.yes {
  background-position: -163px 0px;
}
.checkmark.no {
  background-position: -179px 0px;
}
.update.no,
.update.yes,
.select.no,
.select.yes,
.insert.no,
.insert.yes,
.delete.no,
.delete.yes {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.update.owner,
.delete.owner {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 20px;
}
.update.no {
  background: url('../img/checkmark/update_no.png');
}
.update.yes {
  background: url('../img/checkmark/update.png');
}
.update.owner {
  background: url('../img/checkmark/update_owner.png');
}
.select.no {
  background: url('../img/checkmark/select_no.png');
}
.select.yes {
  background: url('../img/checkmark/select.png');
}
.insert.no {
  background: url('../img/checkmark/insert_no.png');
}
.insert.yes {
  background: url('../img/checkmark/insert.png');
}
.delete.no {
  background: url('../img/checkmark/delete_no.png');
}
.delete.yes {
  background: url('../img/checkmark/delete.png');
}
.delete.owner {
  background: url('../img/checkmark/delete_owner.png');
}
.active-edit-mode .edit-mode-switcher .activate {
  display: none;
}
.active-view-mode .edit-mode-switcher .disactivate {
  display: none;
}
.active-view-mode .edit-mode-visable {
  display: none;
}
.active-edit-mode .contenter-input {
  cursor: pointer;
  /*filter:alpha(opacity=30);*/

  /* CSS3 standard */

  /*	opacity:0.3; */

  /*	background-color: #f86b26; */

}
.active-edit-mode span.contenter-input {
  display: inline-block;
  *display: inline;
  /* for IE7*/

  *zoom: 1;
  /* for IE7*/

  min-width: 20px !important;
  background-color: rgba(82, 168, 236, 0.1);
}
.contenter-input {
  /*	display: inline-block;*/

  z-index: 1000;
}
.active-view-mode .contenter-input.button {
  display: none;
}
.contenter-input.button {
  display: inline-block;
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.contenter-input.textarea {
  display: block;
}
.input-overlay {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0  !important;
}
.input-overlay.color input {
  margin: 0px;
  padding: 0px;
}
.color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
}
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.cke_skin_kama .cke_button_cancel .cke_icon {
  background-image: url('../img/cancel_small.png') !important;
  background-position: 0px !important;
}
